$booking-white: #FFFFFF;
$booking-white-text: #FBFBFB;

$booking-gray: #484848;

$booking: (
  "white-10": #FBFBFB,

  "gray-10": #EDEDED,
  "gray-20": #C4C4C4,
  "gray-30": #767676,
  "gray-40": #c8c6c7,
  "gray-50": #b7b2b3,
  "gray-60": #a3999b,
  "gray-70": #928587,
  "gray-80": #807275,
  "gray-90": #74676a,
  "gray-100": #695d60,
  "gray-110": #5b5254,
  "gray-120": #4f4748,
  "gray-130": #40393b,
  "gray-140": #2f2a2b,
  "gray-150": #1d1a1b,

  "red-10": #f3eff0,
  "red-20": #f4cdd8,
  "red-30": #f5b0c4,
  "red-40": #f491aa,
  "red-50": #f3748f,
  "red-60": #f15775,
  "red-70": #f04361,
  "red-80": #ef344e,
  "red-90": #d32f46,
  "red-100": #ba2a41,
  "red-110": #a32439,
  "red-120": #8d1f31,
  "red-130": #721a28,
  "red-140": #55121c,
  "red-150": #370b13,

  "green-10": #eafcf3,
  "green-20": #d4f8e8,
  "green-30": #bff5dc,
  "green-40": #a9f1d1,
  "green-50": #94eec5,
  "green-60": #7eebb9,
  "green-70": #69e7ae,
  "green-80": #53e4a2,
  "green-90": #3ee097,
  "green-100": #1E8502,
  "green-110": #24c77d,
  "green-120": #20b16f,
  "green-130": #1c9b61,
  "green-140": #188553,
  "green-150": #146f46,

  "blue-10": #f7f7f7,
  "blue-20": #d9eef6,
  "blue-30": #bee6f6,
  "blue-40": #9fd6f5,
  "blue-50": #81c4f5,
  "blue-60": #66b2f5,
  "blue-70": #51a1f5,
  "blue-80": #4190f6,
  "blue-90": #3b82d9,
  "blue-100": #3675c0,
  "blue-110": #2f68a8,
  "blue-120": #285990,
  "blue-130": #204876,
  "blue-140": #173658,
  "blue-150": #0e2238,

  "purple-100": #850260
);

$primarybackground: #FBFBFB;
$primary: map-get($booking, 'green-100');
$link: map-get($booking, 'green-100');
$info: map-get($booking, 'blue-pop-80');
$success: map-get($booking, 'green-80');
$warning: map-get($booking, 'tangerine-80');
$danger: map-get($booking, 'red-80');

@each $color in gray, red, green, blue, purple {
  @for $i from 1 through 15 {
    .is-#{"" + $color}-#{$i * 10} {
      color: map-get($booking, $color + '-#{$i * 10}');
    }

    .has-bg-#{"" + $color}-#{$i * 10} {
      background-color: map-get($booking, $color + '-#{$i * 10}') !important;
    }

    .has-border-#{"" + $color}-#{$i * 10} {
      border-color: map-get($booking, $color + '-#{$i * 10}') !important;
    }
  }
}
