.is-centered-middle {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.is-flex-column {
  flex-direction: column;
}

.is-flex-row {
  flex-direction: row;
}

.is-align-center {
  align-items: center !important;
}

@include touch {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.is-space-between {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}