footer {
  z-index: 0;
  cursor: auto !important;
  hr {
    border-color: map-get($booking, 'gray-20');
  }
}

.footer__links {
  margin-bottom: 0.8rem;

  li {
    a {
      color: map-get($booking, "gray-30") !important;
      text-decoration: none;

      &:hover {
        color: map-get($booking, "gray-80") !important;
      }
    }
  }
}

.footer__subtitle {
  font-weight: bold
}