.hero {
  position: relative;
  background: asset-url('hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.hero__content {
  .container {
    height: 80vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &-search {
    &-input {
      height: 70px;
      border-radius: 40px;
    }
  }

  &-title {
    h1 {
      font-size: 80px;
      color: $booking-white-text;
    }
  }
}

.hero__gradient {
  position: absolute;
  height: 100%;
  width: 100vw;
  background: rgba(255, 255, 255, 0.1);
}

section.attractions {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #151615;

  .attractions__content{
    &-cards .columns {
      scroll-snap-type: x mandatory !important;
      overflow-x: scroll !important;
      display: flex !important;
      .column {
        scroll-snap-align: center !important;
        .card {
          background: transparent !important;
          color: $booking-white !important;
          .card-image {
            figure {
              img {
                border-radius: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.tents__content {
  margin-top: 5%;
  &-about {
    p {
      margin-top: 2rem !important;
      line-height: 2;
    }
  }
}

.offer, .attractions, .specials {
  margin-top: 5%;
}

@include touch {
  .hero {
    background: asset-url('hero_mob.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .hero__gradient {
      z-index: 1;
      height: 100%;
      width: 100vw;
      background: linear-gradient(180deg, #484848 0%, rgba(255, 255, 255, 0) 52.71%), linear-gradient(180deg, rgba(255, 255, 255, 0) 74.48%, #FFFFFF 100%);
    }
    .hero__content {
      .container {
        z-index: 10;
      }

      &-title {
        margin-top: 20%;
        z-index: 10;
        h1 {
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
  .attractions__content{
    &-cards .columns {
      display: flex;
      align-items:center;
      overflow-x: scroll;

      .column {
        min-width: 90%;
        .card {
          background: $booking-gray;
          color: $booking-white;
        }
      }
    }
  }
}
