.navbar-item img {
  max-width: initial;
  max-height: initial;
}

@include desktop {
  .navbar-end {
    margin-left: auto;

    &-scrolled {
      width: initial;
    }
  }
}

nav, .navbar {
  position: fixed;
  width: 100%;
  background: transparent;
  background-color: transparent;
  transition: all 500ms;
  justify-content:center;
}

.white__nav {
  background: black;
  background-color: black;
  transition: all 500ms;
}

.navbar-brand {
  &__logo {
    position: relative;
    top: 20px;
  }
}

@include touch {
  .navbar-brand {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .navbar-burger {
    margin-left: initial;
    margin-right: auto;
  }
  .navbar-right {
    width: 100%;
  }

  .navbar-burger.is-active {
    z-index: 1;
    color: white;
  }
  .navbar-start {
    flex-direction: column;
    margin-top: 70px;
    align-items: flex-start;
  }
  .navbar-end {
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: white;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
      span {
        font-size: 1.5rem;
      }
    }
  }

  .navbar-menu {
    background: #151615;
    position: absolute;
    height: 100vh;
    width: 90vw;
    top: 0;
    left: -90vw;
  }

  .navbar-menu.is-active {
    transition: 1s;
    left: 0 !important;
  }
}

.navbar-burger {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  height: 2.5em;
  width: 2.5em;
}

.navbar-burger:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
